@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
/* ## Colors */
    /* ### Primary */
--Red:hsl(0, 100%, 74%); 
--Redshadow:hsla(0, 24%, 48%, 0.445); 
--Green:hsl(154, 59%, 51%);
--Greenshadow:hsla(154, 63%, 30%, 0.623);
    /* ### Accent */
--Blue:hsl(248, 32%, 49%);
--Blueshadow: hsla(248, 32%, 49%, 0.349);
    /* ### Neutral */
--DarkBlue: hsl(249, 10%, 26%);
--GrayishBlue: hsl(246, 25%, 77%);
--White: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Red);
    background-image: url(./images/bg-intro-mobile.png);
    color: var(--White);
}

.main-container{
    width: 330px;
    margin: 90px auto 40px;
}
h1{
    width: 235px;
    font-size: 1.7em;
    line-height: 38px;
    margin: -10px auto 16px;
}

.description{
    text-align: center;
    margin: 0 10px 68px;
}

.offer{
    background-color: var(--Blue);
    width: 330px;
    height: 90px;
    padding: 22px 75px;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    box-shadow: 0 6px 0px var(--Blueshadow);
}

.offer span{
    font-weight: 700;
}

.form-container{
    background-color: var(--White);
    border-radius: 10px;
    padding: 24px ;
    box-shadow: 0 6px 0 var(--Redshadow);
}

input{
    width: 100%;
    height: 55px;
    margin-bottom: 18px;
    border-radius: 4px;
    border: 1px solid var(--GrayishBlue);
    padding-left: 20px;
    outline: none;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

input[type="submit"]{
    background-color: var(--Green);
    color: var(--White);
    text-transform: uppercase;
    font-size: 1em;
    border: none;
    box-shadow: 0 3px 0 var(--Greenshadow);
    letter-spacing: 1.3px;
    font-weight: 500;
}

input[type="submit"]:hover{
    cursor: pointer;
}

.error-container{
    /* relative, para que que el absolute del contenido icon-error se ubique en base a este contenedor */
    position: relative;
}

.icon-error{
    position: absolute;
    right: 15px;
    bottom: 40px;
}

.error{
    color: var(--Red);
    font-style: italic;
    text-align: right;
    font-size: 12px;
    margin: -12px 0 18px;
}

.terms{
    color: var(--GrayishBlue);
    font-size: .7em;
    text-align: center;
    margin: 0 14px;
}

.terms a{
    color: var(--Red);
    text-decoration: none;
    font-weight: 700;
}
/* -----------Footer----------- */
.attribution { 
    font-size: 14px; 
    text-align: center; 
    margin-top: 75px;

}
.attribution a { 
    color: hsl(228, 45%, 44%); }


    /* ----------------Desktop---------------- */
@media (min-width: 1120px){
    .main-container{
        display: flex;
        width: 1114px;
        border: 1px solid red;
    }

    h1{
        font-size: 3em;
        width: 414px;
        line-height: 55px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .description{
        text-align: left;
    }
    section:nth-child(1){
        border: 1px solid blue;
        padding-top: 160px;
        width: 570px;
    }
    section:nth-child(2){
        width: 540px;
    }
    .offer{
        width: 100%;
        height: 60px;
    }
}